---
const { articulo, precio, descripcion, imagen, puntuacion } = Astro.props;
import { Image } from "astro:assets";
---



<div>
    <Image src={imagen} alt={descripcion} />
    <p>{articulo}</p>
    <p>{puntuacion}</p>
    <p>{precio}</p>
</div>
<style>
    
    div {
        border: 1px solid #faf5f5;
        border-radius: 0px;
        text-align: center;
        width: 20%;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 0px;
        :hover{
            background-color: white ;
         }
        }

    p {
        margin: 8px 0;
    }
